<section id="section_medicos_atrasados" class="section_class_padrao">
   <section id="whapper_conteudo">
<div id="textos">

<h2>O que é o Pontualidade Médica?</h2>
<p>
	Pontualidade Médica pode ser entendida como uma forma de protesto que, através da internet, pretende disponibilizar um ambiente para reclamações dos atrasos médicos ocorridos com frequência em todo o Brasil. Sendo assim, a sociedade pode expor de forma simples e consciente o quanto vivencia esse problema no cotidiano.
</p>
<p>
	O serviço ainda está em sua versão Beta, mas você já pode utilizar e começar a contribuir.
</p>

<h2>Como funciona?</h2>
<p>
	Para utilizar o serviço, basta realizar o cadastro, informando o seu nome, e-mail e escolhendo uma senha de acesso; seus dados não serão expostos. Para cadastrar uma ocorrência de atraso, basta informar o estado e o número de CRM (número de identificação no Conselho Regional de Medicina) do médico. Também será necessário informar a hora da consulta e a hora em que foi atendido.
</p>

<p>
	Assim, você terá contribuído para a nossa tentativa de diminuir as ocorrências frequentes de atrasos em consultas médicas.
  
</p>

</div><!-- end div textos -->
</section>
</section>
