<section id="section_medicos_atrasados" class="section_class_padrao">
   <section id="whapper_conteudo">
<div id="textos">

<h2>O que é o pontualidade médica?</h2>
<p>
	Pontualidade médica pode ser entendida como uma forma de protesto que, através da internet, pretende disponibilizar um ambiente que aceita reclamações de atrasos médicos ocorridos com frequência em todo o Brasil. Sendo assim, cabe a nós, população, expor de forma simples e consciente o quanto vivenciamos esse problema no cotidiano.
</p>
<p>
	Apesar de o serviço estar em estado Beta, ele já é funcional e espera a sua contribuição.
</p>

<h2>Como funciona?</h2>
<p>
	Para utilizar o serviço, basta cadastrar-se informando o seu nome, e-mail e escolhendo uma senha de acesso; nenhum de seus dados será exposto. Para cadastrar o atraso de um determinado médico, basta informar seu nome, seu estado e seu número de CRM – que é, na verdade, um número de identificação. Também será necessário informar a hora da consulta e a hora em que foi atendido.
</p>

<p>
	Assim, você terá contribuído para a nossa tentativa de coibir a ocorrência abusiva de atrasos em consultas médicas.
  
</p>

<h2>N° de consultas:</h2>
<p>
 O número de consultas representa quantas vezes um mesmo médico foi cadastrado no sistema.
</p>
</div><!-- end div textos -->
</section>
</section>
