<section id="section_medicos_atrasados" class="section_class_padrao">
   <section id="whapper_conteudo">

<h2><%= @titulo %></h2>
<% @paragrafos.each do |p| %>
  <p><%= p %></p>
<% end %>

</section>
</section>