html, body {
	height:100%;
}
.geral {
	min-height:100%!important;
	position: relative;
}
#textos {
	width:50%;
	color:#666666;
}

h1,h2,h3 {
	color:#333333;
	opacity:0.60;
	margin-left:8px;
}
button:hover {
	cursor:pointer;
}
.section_class_padrao p {
	text-align:justify;
}
#form_cadastro input {
  width:100%;
}

body {
	margin:0;
	background:#f7f6f6;
	font-family:candara;
}
header, nav, section, article {
	display:block;
}

header {
	width:100%;
	height:95px;
	background:gray;
	background-image:-webkit-linear-gradient(white,#f7f7f7,#ebebeb);
	background-image:-moz-linear-gradient(white,#f7f7f7,#ebebeb);
	background-image:-o-linear-gradient(white,#f7f7f7,#ebebeb);
	background-image:-ms-linear-gradient(white,#f7f7f7,#ebebeb);
	border-bottom:1px solid gray;
	border-top:1px solid gray;
	background-image:url('/assets/fundo_header.png');
}
header:hover {
	-webkit-transition-duration:0.5s;
	background-position:right;
}
#pesquisa_center {
	width:1000px;
	margin:auto;
}
#logo {
	width:300px;
	display:block;
	
	
}
#pesquisa table {
	margin:auto;
}
#pesquisa input {
	width:200px;
}
input {
	padding:10px;
	border:1px solid gray;
	border-radius:3px;
	box-shadow:silver 1px 1px 2px inset;
	outline:none;
	width:300px;
	margin-left:3px;
}
.field input {
	margin-top:10px!important;
	margin-bottom:10px!important;
}
/*Class aparece na página de cadastro de médicos colocada pelo rails*/
.field_with_errors {
	padding:0!important;
	margin:0!important;
	height:auto!important;
	display:inline;
}
.anonimo {/*Input check box*/
	width:30px;
	box-shadow:none;
	margin-left:0;
}

#div_encapsula_buttun_cadastrar {
	width:327px;
	height:50px;
	
}
#button_registrar {
	float:right;
}

#table_conteudo {
	margin:auto;
	padding:10px;
}
#table_conteudo tr td {
	padding:10px;
	width:400px;
	background: #f5f0f0;
}
#table_conteudo tr td {
	
	border:1px solid silver;
}
#table_conteudo tr:hover {	
	font-weight: bold;
	background: #e1f3fc;
	color: #3886ad;
}

.c { /* classe nas tabelas*/
	
	font-weight:bold;
	background:#e1dcdc!important;
}
.tr_cabecalho:hover {
	background: #f5f0f0!important;
	color:black!important;
}
 
/* Tamanho de fonte inicial da tabela */
#table_conteudo tr {
	font-size:20px;
	color:#333333;
}

button {
	padding:10px;
	background-image:-webkit-linear-gradient(#f7f7f7,white,#ebebeb);
    background-image:-moz-linear-gradient(#f7f7f7,#ebebeb);
    background-image:-o-linear-gradient(#f7f7f7,#ebebeb);
    background-image:-ms-linear-gradient(#f7f7f7,#ebebeb);
    border:1px solid gray;
    border-radius:3px;
}

#pesquisa {
	width:100%;
	padding-top:10px;
	padding-bottom:10px;
	border-bottom:1px solid silver;
	border-top:1px solid silver;
	background-image:-webkit-linear-gradient(#f7f7f7,#ebebeb);
    background-image:-moz-linear-gradient(#f7f7f7,#ebebeb);
    background-image:-o-linear-gradient(#f7f7f7,#ebebeb);
    background-image:-ms-linear-gradient(#f7f7f7,#ebebeb);
}

.section_class_padrao {
	width:1000px;
	height:auto;
	min-height:300px;
	padding:10px;
	margin:auto;
	margin-top:10px;
}

footer {
	width:100%;
	min-height:30px;
	background:#323b44;
	padding-top:10px;
	padding-bottom:10px;
	margin-top:10px;
	background: #ebebeb;
	background-image:-webkit-linear-gradient(white,#f7f7f7,#ebebeb);
	background-image:-moz-linear-gradient(white,#f7f7f7,#ebebeb);
	background-image:-o-linear-gradient(white,#f7f7f7,#ebebeb);
	background-image:-ms-linear-gradient(white,#f7f7f7,#ebebeb);
	border-top:1px solid gray;
	border-bottom:1px solid gray;
	line-height: 30px;
	position:absolute;
	bottom: 0;
}

footer a {
	margin-left:10px;
	color:gray;
	text-decoration:none;
}

#none {
	clear:both;
}
nav {
	border-bottom:1px solid silver;
	border-top:1px solid silver;
	padding-top:5px;
	padding-bottom:5px;

	
}

#center_menu {
	width:130px;
	height:auto;
	margin:auto;
	width:700px;
	background:transparent;
	padding-bottom:10px;
	
}

#show_menu {
	padding:0px;
	margin:auto;
	float:left;
	color:white;
	font-weight:bold;
	border:1px solid #047a9d ;
	cursor:pointer;
	border-radius:3px;
	width:50px;
	margin-top:23px;
	float:left;
	margin-left: 10px;
}


#menu_desktop {
	margin:0;
	padding:0;
	list-style:none;
}
#menu_desktop li {
	float:left;
}
#menu_desktop a {
	display:block;
	text-decoration:none;
	margin-left:10px;
	padding:10px;
	border:1px solid transparent;
	color:#003366;
	font-weight:bold;
}
#menu_desktop a:hover {
	border:1px solid silver;
}


#whapper_conteudo {
	width:auto;
	font-family:candara;
	padding:10px;
	margin:auto;
	padding-bottom:40px!important;
}

#section_medicos_atrasados {
	/*padding-bottom: 30px;*/
}


span {
	margin-top:10px;
	width:auto;
	border-bottom:1px solid silver;
	border-top:1px solid silver;
	display:block;
	padding:10px;
}




/*------------------------------------------*/

/* 1024 ================================================== */
@media only screen and (max-width: 1024px) { 

  .section_class_padrao {
   	  background:transparent;
   	  width:90%;
   }
  #pesquisa input {
   	 width:200px;
   }
   #center_menu {
   	width:90%;
   }

  #pesquisa_center {
	width:100%;
	margin:auto;
}

input {
	width:200px;
}

#area_paginacao {
	width:97%!important;
	padding-left:13px;
}

#div_encapsula_buttun_cadastrar {
	width:227px;
	height:50px;
	
}

#textos {
	width:80%;
}


}
/* END 1024 ================================================== */

/* 720 ================================================== */
@media only screen and (max-width: 768px) { 
	.section_class_padrao {
   	  background:transparent;
   	  width:90%;
   }
    #pesquisa table {
   	margin:auto;
   }
   #pesquisa input {
   	width:200px;
   }
   /* Diminui o tamanho da fonte da tabela */
   #table_conteudo tr {
	font-size:16px;
	color:#333333;
   }

}
/* END 720 ================================================== */

@media only screen and (max-width: 560px) { 
    #pesquisa table {
    	float:left;

    }
    #menu_desktop  li{
    	margin:auto;
    }
}
/* 480 ================================================== */
@media only screen and (max-width: 480px) { 
    
   .section_class_padrao {
   	  background:transparent;
   	  width:90%;
   }
   #pesquisa table {
   	margin:auto;
   }

   #logo {
   	width:73%;
   }

   #menu_desktop {
   	margin:auto;
   	width:auto;
   	padding:10px;
   	
   }

   #pesquisa_crm {
   	 width:100%;
   	 margin-left:0px;
   }


   
}
/* END 480 ================================================== */

/* MENOR RESOLUÇÃO 320 ================================================== */
@media only screen and (max-width: 320px) { 

   .section_class_padrao {
   	  background:transparent;
   	  width:90%;
    }

   #pesquisa table {
   	 margin:auto;
   }

   #logo {
   	 margin:auto;
   }

   #pesquisa_crm {
   	 width:150px!important;
   	 margin-left:0px;
   }
   
   #logo {
   	width:76%;
   	margin-top:13px;
   }
    
   .barra_sair {
   	 text-align:center!important;
   }

   #table_conteudo td {
   	border:0px!important;
   	border-bottom:1px solid silver!important;
   	
   }

   #textos {
	width:100%;
   }

}

/* END MENOR RESOLUÇÃO 320================================================== */



#barra_sair {
	width:auto;
	padding-top:5px;
	padding-bottom:5px;
	background:#006699;
	background-image:-webkit-linear-gradient(#5b9cbd,#006699);
	background-image:-moz-linear-gradient(#5b9cbd,#006699);
	background-image:-o-linear-gradient(#5b9cbd,#006699);
	background-image:-ms-linear-gradient(#5b9cbd,#006699);
	color:white;
	text-align:right;
	opacity:0.80;
}
#barra_sair  a {
  margin-right:30px;
  text-decoration:none;
  color:white;
}
#barra_sair a:hover {
  text-decoration:underline;
}
.nome_usuario {
	margin-right:20px;
	color:green;
	padding:0px;
	border:0px;
	color:#bee5f9;
}


/*Erro emitido do servidor*/
#error_explanation {
	color:#923636;
	padding-bottom:10px;
	margin-bottom:20px;
}
#error_explanation h2 {
	margin-left:0;
}
#error_explanation ul {
    padding:0;
    margin:0;
    list-style:none;
}

/*Mensagem de nunhum cadastro realizado*/
h2 a {
	color:#9c2121;
	display:block;
	width:auto;
	text-decoration:none;
}
/*------------------------------*/

#area_paginacao {
	width:955px;
	padding-left:13px;
}
.link_p {
	display:block;
	padding:10px;
	text-decoration:none;
	color:black;
	float:left;
	background-image:-webkit-linear-gradient(#5b9cbd,#006699);
	background-image:-moz-linear-gradient(#5b9cbd,#006699);
	background-image:-o-linear-gradient(#5b9cbd,#006699);
	background-image:-ms-linear-gradient(#5b9cbd,#006699);
	color:white;
	float:right;
	z-index:100;
}
#anterior {
	border-right:1px solid white;
}
.link_p:hover {
    opacity:0.90;
}
#area_paginacao p {
	text-align:left;
}
#area_paginaca #proximo {
	margin-right:10px;
}


#show_num_paginas {
	
	text-align:left;
	float:left;
}

small {
	color:#9c2121;
}
