<% if !flash[:notice].nil? %>
  <p><%= flash[:notice] %></p>
<% end %>

<section id="section_medicos_atrasados" class="section_class_padrao">
   <section id="whapper_conteudo">
    <h2>Lista de Médicos</h2>

    <table id="table_conteudo">
      <tr>
        <td class="c">CRM</td>
        <td class="c">Nome</td>
        <td class="c">Atraso</td>
      </tr>
      <% @medicos.each do |m| %>
        <tr>
          <td><%= m[:medico].CRM %></td>
          <td><%= m[:medico].nome %></td>
          <% if m[:atraso_medio] < 60 %>
            <% atraso_formatado = "#{m[:atraso_medio]} m" %>
          <% else %>
            <% atraso_formatado = "#{m[:atraso_medio] / 60} h #{m[:atraso_medio] % 60}" %>
          <% end %>
          <td><%= atraso_formatado %></td>
        </tr>
      <% end %>
    </table>

   </section>
</section>
