<% if !flash[:notice].nil? %>
  <p><%= flash[:notice] %></p>
<% end %>

<section id="section_medicos_atrasados" class="section_class_padrao">
   <section id="whapper_conteudo">
    <h2>Lista de Médicos</h2>

    <table id="table_conteudo"></table>

   </section>
</section>

<script type="text/javascript">
   chamaJson(); // CHAMANDO A FUNÇÃO QUE CHAMA O JSON...
</script>
