<section id="section_medicos_atrasados" class="section_class_padrao">
   <section id="whapper_conteudo">

    <h2>Lista de Médicos</h2>
  
  <table>
    <tr>
      <td>
        <form id="pesquisar" method="post" action="#">
            <td> <input type="text" id="pesquisa_crm" placeholder="Nome ou CRM..."/> </td>
            <td> <button type="button" id="button_pesquisar">Buscar</button> </td>
        </form>
    </tr>
  </table>

    <table id="table_conteudo" class="table_conteuso">
      <tr class="tr_cabecalho">
        <td class="c">CRM</td>
        <td class="c">Nome</td>
        <td class="c">Atraso</td>
      </tr>
      <% @medicos.each do |m| %>
        <tr>
          <td><%= m[:medico].CRM %></td>
          <td><%= m[:medico].nome %></td>
          <% if m[:atraso_medio] < 60 %>
            <% atraso_formatado = "#{m[:atraso_medio]} m" %>
          <% else %>
            <% atraso_formatado = "#{m[:atraso_medio] / 60} h #{m[:atraso_medio] % 60}" %>
          <% end %>
          <td class="td_atraso"><%= atraso_formatado %></td>
        </tr>
      <% end %>
    </table>

    <div id="area_paginacao">
      <a class="link_p" id="proximo" href="#">Proximo</a>
      <a class="link_p" id="anterior" href="#">Anterior</a>
      
      <p id="show_num_paginas">Página 1 de <%= @num_paginas %></p>
    </div><!--end paginacao-->

   </section>
   <br>
   <br>
   <br>
</section>

 <script type="text/javascript">

        $(document).ready( function() {
  ///////////////////////////////////////////////////////////////////
           // INICIA O NÚMERO DE PÁGINAS E O NÚMERO DE REGISTRO DA PÁGINA...
           //////////////////////////////////////////////////////////////////
            var registro = 0,
                pagina = 1;

           //////////////////////////////////////////////////
           // CHAMA A FUNÇÃO 'chamajson' no evento 'click'
           /////////////////////////////////////////////////

            $("#button_pesquisar").click( function() {
              pagina = 1;
                chamaJson(10,1);
             }); // end click...

           //////////////////////////////////////////////////
           // CHAMA A FUNÇÃO 'chamajson' no evento 'submit'
           /////////////////////////////////////////////////

            $('#pesquisar').submit( function() {
                chamaJson();
                return false;
             }); // end submit...

           ////////////////////////////////////////////////

           
           //////////////////////////////////////////////////////////////////

          ///////////////////////////////////////////////////////////////////
          // PROXIMO INCREMENTA O NUMERO DE PÁGINAS...
          /////////////////////////////////////////////////////////////////

           $('#proximo').click( function() {

                registro = 10;
                pagina += 1;
                chamaJson( registro , pagina ); // CHAMA A FUNÇÃO PAGINAÇÃO...
                $('#anterior').show();
                return false;

           }); // end click...
           ///////////////////////////////////////////////////////////////////
          // ANTERIOR DECREMENTA O NUMERO DE PÁGINAS...
          /////////////////////////////////////////////////////////////////

            $('#anterior').click( function() {

                registo = 10;
                pagina -= 1;
                chamaJson( registro , pagina ); // Paginação
                return false;

           }); // end click...

         ///////////////////////////////////////////////////////////////////
        // SE O NÚMERO DE PÁGINAS FOR IGUAL A '1' SOME O BUTTON 'ANTERIOR'
        ///////////////////////////////////////////////////////////////////
            if ( pagina == 1 ) {
                  $('#anterior').hide();
            }

            else if ( pagina == 0 ) {
                  //$('#proximo').hide();
                  //$('#anterior').hide();
            }

            else {
               $('#proximo').show();
            }
        ///////////////////////////////////////////////////////////////////

              
            

               
}); // end jquery...
</script>
