<section id="section_medicos_atrasados" class="section_class_padrao">
   <section id="whapper_conteudo">
    <h2>Lista de Médicos</h2>

    <table id="table_conteudo">
      <tr>
        <td class="c">CRM</td>
        <td class="c">Nome</td>
        <td class="c">Atraso</td>
      </tr>
    </table>
   </section>
</section>

<script type="text/javascript">
  $(document).ready( function() {
 
  
 
  $.ajax({

      url: "medicos.json",
      complete: function( data ) {

          var meuJSON = JSON.parse( data.responseText );
          var area = document.querySelector('#whapper_conteudo table');

          for ( var cont = 0; cont < meuJSON.length; cont++ ) {
             
            

               area.innerHTML += 
                                  
                             '<tr>' +
                             '<td>' + meuJSON[ cont ].CRM + '</td>' +
                             '<td>' + meuJSON[ cont ].nome + '</td>' +
                             '<td>' + meuJSON[ cont ].atraso_medio + '</td>'+
                             '</tr>'
                }
          
      }
  });
});
</script>
