<section id="section_medicos_atrasados" class="section_class_padrao">
   <section id="whapper_conteudo">
    <h2>Lista de Médicos</h2>

    <table id="table_conteudo">
      <tr>
        <td class="c">CRM</td>
        <td class="c">Nome</td>
        <td class="c">Atraso</td>
      </tr>
    </table>
   </section>
</section>
