<section id="section_medicos_atrasados" class="section_class_padrao">
     <section id="whapper_conteudo">

<h2>
Nenhuma consulta foi registrada até agora.
<%= link_to "Seja o primeiro a registrar!", controller: "consultas", action: "new" %>
</h2>

</section>
</section>
